<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>http://localhost</string>
	<key>apiKey</key>
	<string>628a19dc9eee40e85cb897a55c487567</string>
	<key>apiSecret</key>
	<string>c967866343ab44f7af778ed2f446f44c</string>
</dict>
</plist>
